* {
box-sizing: border-box;
}



body, ul {
    padding: 0;
    margin:0;
}

li {
    list-style: none;
}

#content {
    max-width: 1000px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px 0;
    background: black;
}

header img {
    max-width: 200px;

}

header ul {
display: flex;
flex-wrap: wrap;
}

header ul a {
    padding: 10px 15px;
    display: block;
    color: yellow;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold;   
}

#container, #page {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    background: black;
    color: aqua;

}

#page .product {
    max-width: 235px;
    text-align: center;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 0 15px 15px;
    padding: 5px;
}


#page .product img {
    max-width: 100%;
}

#page {
    width: 75%;
    justify-content: space-between;
}

#sidebar {
    width: 25%;
    border: 1px solid yellow;
    padding: 15px;
    background: black;
}

#page .product button {
background: red;
color: yellow;
padding: 10px 15px;
font-size: 22px;
margin-top: 15px;
border: none;
cursor: pointer;
transition: 0.5s;
}

#page .product button:hover {
    background: #ff9101;
}

footer {
    background: aqua;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    font-size: 26;
    width: 100%;
}

#sidebar ul li a {
    display: block;
    padding: 10px 15px;
    border: 1px solid yellow;
    margin: 5px;
    text-decoration: none;
    color: yellow;
}

@media(max-width:700px){
    #sidebar, #page {
width: 100%;
    }

   #page { 
        justify-content: center;
        margin-top: 15px;
   }
}